body::before {
  display: block;
  content: '';
  height: 60px;
}

.title-text-limit {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.para-text-limit {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.logo-size {
  width: 40%;
}

img {
  max-height: 100px;
}

#rating {
  color: yellow;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
